body {
    background: $White;
}

.wrap {
    margin: 0 auto;
    //max-width: $original_width;
    .header {
        width: 100%;
        height: 56px;
        background: $Black_75;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        color: $White;
        a {
            color: $White;
            display: block; //let 'a' great to click
        }
        // logo link
        h1 {
            float: left;
            display: block;
            width: 120px;
            height: 24px;
            background: url("../images/logo_w(null).svg");
            text-indent: 100%;
            overflow: hidden;
            white-space: nowrap;
            margin: 16px 42px;
            cursor: pointer;
        }
        .menu {
            float: right;
            margin: 20px 38px;
            li {
                float: left;
                margin: 0 30px 0 0;
            }
        }
        .showmenu {
            display: none;
        }
        @media (max-width: 414px) {
            .menu {
                //隱藏選單開始
                max-height: 0px;
                overflow: hidden;
                //animate
                transition: 1.8s;
                //method2
                //display: none;
                position: absolute;
                top: 56px;
                left: 0;
                right: 0;
                margin: 0;
                z-index: 100;
                background-color: $Black_75;
                li {
                    float: none;
                    margin: 0;
                    padding: 10px;
                    border-bottom: 1px solid #666;
                    //animate
                    transition: 0.3s;
                }
            }
            .showmenu {
                width: 40px;
                height: 40px;
                background: url(../images/icon_menu.png) center center no-repeat;
                display: block;
                float: right;
                margin: 8px;
            }
            //jQuery 開啟選單
            .menu.show {
                max-height: 500px;
            }
        }
        @include clearfix;
    }
    .banner {
        background: url("../images/header_desktop.png") no-repeat center center;
        background-color: black;
        width: 100%;
        height: 420px;
        /* let .banner_text to be center */
        text-align: center;
        margin-bottom: $margin-bottom;
        .banner_text {
            width: 460px;
            height: 140px; //120px
            background: $Black_35;
            padding: 20px;
            color: #FFF;
            /* let .banner_text to be center */
            display: inline-block;
            /* method-2 keep displat:block
            display: block;
            margin: auto;*/
            h2 {
                margin-bottom: 0.5em;
                display: inline-block;
            }
            h4 {
                margin-bottom: 0.5em;
                font-size: 16px;
            }
        }
        @include vertical-center(110%);
        @media (max-width: 414px) {
            background: url("../images/header_mobile.png") no-repeat left center;
            .banner_text {
                width: 300px;
                height: 195px;
                padding: 35px 20px;
                h2 {
                    display: block;
                    font-size: 30px;
                    margin-bottom: 0.2em;
                }
                .h2_margin-bottom {
                    margin-bottom: 0.5em;
                }
            }
            @include vertical-center(125%);
        }
    }
    .feature {
        max-width: $original_width;
        margin: auto;
        margin-bottom: $margin-bottom;
        text-align: center;
        hr {
            display: inline-block;
            width: 100px;
            height: 25px;
            border: 0;
            border-top: 1px solid #979797;
        }
        .feature_title {
            display: inline-block;
            h3 {
                font-size: 20px;
                margin-bottom: 1em;
            }
        }
        ul {
            margin-top: 30px;
            li {
                width: 25.333%;
                margin: 0 4%;
                float: left;
                display: block;
                img {
                    border-radius: 100%;
                    margin-bottom: 20px;
                }
                h4 {
                    font-size: 16px;
                    margin-bottom: 1em;
                }
                p {
                    text-align: left;
                    line-height: 1.2em;
                }
            }
        }
        @media (max-width: 414px) {
            ul li {
                width: 90%;
                margin: 0 5%;
                margin-bottom: 30px;
            }
            hr {
                display: none;
            }
        }
        @include clearfix;
    }
    .chef {
        width: 100%;
        background: $Brown;
        text-align: center;
        margin-bottom: $margin-bottom;
        //再包一個讓畫面置中
        .chef_wrap {
            margin: auto;
            max-width: $original_width;
            img {
                display: block;
                float: left;
                margin-left: 10px;
            }
            .chef_right {
                max-width: 410px;
                color: $White;
                display: block;
                float: left;
                margin-top: 80px;
                margin-left: 25px;
                text-align: left;
                h3 {
                    font-size: 20px;
                    margin-bottom: 0.5em;
                }
                h4 {
                    font-size: 16px;
                    margin-bottom: 1.2em;
                }
                p {
                    line-height: 1.2em;
                }
            }
        }
        @media (max-width: 768px) {
            .chef_wrap {
                img {
                    max-width: 373px;
                }
                .chef_right {
                    max-width: 330px;
                    margin-top: 25px
                }
            }
        }
        @media (max-width: 414px) {
            .chef_wrap {
                img {
                    width: 100%;
                    float: none;
                    margin: auto;
                }
                .chef_right {
                    max-width: 320px;
                    margin: 30px 25px;
                }
            }
        }
        @include clearfix;
    }
    .comment {
        max-width: $original_width;
        margin: auto;
        margin-bottom: $margin-bottom;
        h3 {
            text-align: center;
            margin-bottom: 32px;
        }
        li {
            max-width: 31.333%;
            margin: 0 1%;
            float: left;
            img {
                border-radius: 100%;
                display: block;
                float: left;
            }
            .avatar_right {
                display: block;
                max-width: 60%;
                float: left;
                margin-left: 13px;
                h4 {
                    margin: 24px 0;
                }
                .nickname {
                    text-align: right;
                }
            }
        }
        @media (max-width: 414px) {
            li {
                max-width: 94%;
                margin: 15px 3%;
                .avatar_right {
                    float: left;
                    max-width: 70%;
                    margin-left: 20px;
                }
            }
        }
        @include clearfix;
    }
    .book {
        background: rgba(250, 250, 250, 0.7);
        .book_wrap {
            max-width: $original_width;
            margin: auto;
            height: auto;
            padding: $margin-bottom 42px;
            h3 {
                text-align: center;
                line-height: 1.5em;
                margin-bottom: 38px;
            }
            /*img {
                float: left;
                margin-left: 42px;
                max-width: 44%;
            }*/
            iframe {
                float: left;
                width: 51%;
                height: 300px;
            }
            .book_right {
                float: right;
                width: 45%;
                margin-left: 25px;
                line-height: 2em;
                label {
                    display: block;
                }
                input.text {
                    width: 100%;
                    height: 32px;
                    padding-left: 14px;
                    border: 1px solid #999;
                    border-radius: 4px;
                    margin-bottom: 5px;
                }
                .btn1 {
                    @include button($Orange);
                }
                .btn2 {
                    @include button($Orange);
                }
                .btn_position {
                    float: right;
                    margin-top: 40px;
                    li {
                        display: inline-block;
                        margin-left: 5px;
                    }
                }
                //method2
                /*.btn_position {
                    margin-top: 10px;
                    input[type="submit"]{
                        float: right;
                        margin-left: 5px;
                    }
                }*/
            }
            @media (max-width: 414px) {
                padding: $margin-bottom 2%;
                margin: 2%;
                max-width: 96%;
                /*img {
                    float: none;
                    max-width: 100%;
                    margin: 0;
                    margin-bottom: 20px;
                }*/
                iframe {
                    float: none;
                    width: 100%;
                    margin-bottom: 20px;
                }
                .book_right {
                    float: none;
                    width: 100%;
                    margin: 0;
                }
            }
            @include clearfix; //寫在這層padding才有效!
        }
    }
    .footer {
        padding: $margin-bottom;
        //寫多層清單，使用child selector
        //先做好內部樣式，外部再float
        >ul {
            float: left;
            >li {
                float: left;
                max-width: 300px;
                margin-right: 20px;
                h3 {
                    margin-bottom: 16px;
                }
                p {
                    line-height: 1.2em;
                }
                >ul>li {
                    line-height: 1.2em;
                }
            }
        }
        .info {
            float: right;
            max-width: 245px;
            >img {
                margin-bottom: 24px;
            }
            >ul {
                text-align: right;
                >li {
                    display: inline-block;
                    margin-left: 11px;
                    img {
                        width: 36px;
                        height: 36px;
                    }
                }
            }
        }
        @media (max-width: 768px) {
            h3 {
                font-size: 20px;
            }
            p,
            li {
                font-size: 12px;
            }
            >ul>li {
                max-width: 200px;
            }
        }
        @media (max-width: 414px) {
            padding: $margin-bottom 3%;
            >ul {
                float: none;
                >li {
                    float: none;
                    margin-right: 0;
                    margin-bottom: 30px;
                }
            }
            h3 {
                font-size: 24px;
            }
            p,
            li {
                font-size: 16px;
            }
        }
        @include clearfix;
    }
}
