.register_wrap {
    text-align: center;
    h1 {
        margin-bottom: 0.2em;
        font-weight: bold;
    }
    h3 {
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: bold;
    }
    .register_form {
        width: 620px;
        margin: auto;
        text-align: left;
        padding: 15px;
        border-top: 4px solid $Orange;
        box-shadow: 2px 1px 4px #AAA;
        h4 {
            text-align: center;
            font-weight: 900;
            margin-bottom: 16px;
            font-family: 'Noto Sans', sans-serif;
        }
        .register_form_left {
            width: 285px;
            margin-right: 20px;
            float: left;
            p {
                line-height: 1.4em;
            }
        }
        .register_form_right {
            width: 285px;
            float: right;
            label {
                display: block;
                //margin-top: 15px;
                line-height: 1.4em;
            }
            input {
                display: block;
                width: 100%;
                height: 32px;
                border: 1px solid #AAA;
                border-radius: 4px;
                padding-left: 30px;
            }
            input[type="email"] {
                background: url('../images/icon_mail.png') no-repeat 3px;
            }
            input[type="password"] {
                background: url('../images/icon_password.png') no-repeat 3px;
            }
            input[name="email"],
            input[name="password"] {
                margin-bottom: 15px;
            }
            a {
                display: block;
                color: #FF5E45;
                line-height: 1.6em;
                margin-bottom: 30px;
            }
            .btn1 {
                @include button($Orange,
                125px);
                padding: 0;
                margin-left: 160px;
            }
        }
        @media (max-width: 414px) {
            max-width: 300px;
            padding: 15px 10px;
            .register_form_left {
                float: none;
                max-width: 280px;
                margin-bottom: 30px;
            }
            .register_form_right {
                float: none;
                max-width: 280px;
                .btn1 {
                    margin-left: 155px;
                }
            }
        }
        @include clearfix;
    }
}
